body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  /*background-color: #f9f9f9;*/
  background-color: white;
}

.top-spacer {
  height: 7rem;
}

.semi-translucent {
  background: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.full-screen-logo {
  background-image: url("./assets/darkest.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.full-screen-logo img {
  width: 100vw; /* Makes the image take up the full viewport width */
  height: 50vh; /* Makes the image take up the full viewport height */
  object-fit: contain; /* Keeps the aspect ratio of the SVG */
}

/* Section 2: Introduction to Libertega Capital */
.intro-section {
  background-color: #f8f9fa;
  /* Light background, adjust as needed */
  padding: 50px 0;
  /* Spacing above and below the content */
}

.container {
  /*max-width: 1200px;
  Adjust based on your design preference 
  margin: 0 auto;
  Center the container */
  margin: 0;
  padding: 0 15px;
  /* Padding on the sides */
}

.tagline-container {
  height: 20vh;
  padding: 1rem;
}

.tagline {
  text-align: center;
  font-style: italic;
  color: #233976;
}

.intro-text {
  color: #555;
  /* Slightly lighter text color for the intro text */
  font-size: 1.2em;
  /* Adjust the font size as needed */
  text-align: center;
  /* Center the intro text */
  line-height: 1.6;
  /* Line height for better readability */
  max-width: 800px;
  /* Max width of the text block */
  margin: 0 auto;
  /* Center the text block */
}

.custom-divider {
  border-top: 1px solid #bbb; /* Sets the color and thickness of the divider */
  margin-top: 20px; /* Spacing above the divider */
  margin-bottom: 20px; /* Spacing below the divider */
}

.mission-block {
  /*background-color: #eef2fa;*/
}
.mission-text {
  font-size: large;
}

.footer-top {
  margin-top: 2rem;
  height: 110px;
  background-color: #6e6e6e;
  text-align: center;
}
.footer-bottom {
  height: 40px;
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  padding-top: 1rem;
}
